extends layout

block content
  h1= title
  p #{message}
  p Stringified:     #{stringified} ms
  p Printing Stringified to console:  #{console} ms
  p Printing Stringified to log file: #{log} ms
  p JSON-Parsing:         #{parse} ms
