extends layout

block content
  h1= title
  p #{message}
  p Stringified: #{stringifiedTime} ms
  p Stringified including printing to console: #{stringifiedTimeTotal} ms
  p Parsing: #{jsonedTime} ms
  p Parsing including printing to console: #{jsonedTimeTotal} ms
